.footer{
    margin-top: 300px;
    background: rgb(250, 232, 232);
    padding: 40px 95px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    .footerLogo{
        width: 20%;
    }
    .footerContent{
        width: 50%;
        .footerContentTitle{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 20px;
                    font-size: 26px;
                    font-weight: 700;
                    color:rgb(16, 138, 138) ;
                }
            }
        }
        .footerContentContent{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 20px;
                    font-size: 18px;
                }
            }
        }
    }
    .footerContact{
        width: 30%;
    }
}