
.feedback{
    width: 90%;
    padding: 40px 5%;
    .titleLeader{
        margin-top: 40px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        color: #1750c3;
        h3 {
            color: #172d65;
            font-size: 18px;
            font-weight: 400;
            font-style:normal;
            font-family: "Roboto", helvetica, arial, sans-serif;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            text-transform:uppercase;
        }
    }
}